{% extends "base.html" %}

{% block banner %}
    <a href="../logout">Logout</a>
{% endblock %}

{% block body %}

{% if chat_list %}
    <table>
        {% for c in chat_list %}
            <tr>       
                <td><a href="{{ c.name }}">{{ c.name }}</a></td>
                {% if c.user_id == user.id %}
                    <td>
                        <form action="" method="post">
                            <button name="{{ c.name }}" value="{{ c.name }}">Delete</button>
                        </form>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% else %}
    <h2>No chats sadly</h2>
{% endif %}


<h4>Make new chat</h4>
{{ message }}
<form action="" method="post">
    Chat Name: <input type="text" name="chat_name"/>
    <input type="submit" value="Submit"/>
</form>


{% endblock %}
